{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>SUPLES SHOP</title>
</head>
<body>
    <header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>SUPLES SHOP</h1>
			</div>
			<nav class="menu">
				<a href="/html/login.html">login</a>
				<a href="/html/registro.html">Registrate</a>
				<a href="#img">Productos</a>
				<a href="{%url 'usuario_list'%}">Usuarios</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>

<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Perfil</a>
			<a href="#">Compras</a>
			<a href="#">Ofertas guardadas</a>
			<a href="#">Pagos</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</main>
</body>
</html>